.watch-bg{
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #000000;
  color: #ffffff;
  border-bottom: 8px solid #222;
}

.watch{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  gap: 40px;
}

.watch-text{
  display: grid;
  align-content: center;
  gap: 10px;
}

.watch-text h1{
  font-size: 40px;
  font-weight: 700;
  line-height: 55px; 
}

.watch-text p{
  font-size: 20px;
  font-weight: 400;
  max-width: 417px;
}

.watch-frame img{
  width: 400px;
}
